<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.biotag.gamecock">

    <!-- 所需的权限，另外在代码中还需要申请一次因为6.0 以上的手机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".foundation.GameCockApplication"
        android:allowBackup="true"
        android:icon="@mipmap/sraech_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ScanningActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.BaseActivity" />
        <activity
            android:name=".activity.SecondActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ScanningActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CockInfoActivity"/>
        <activity android:name=".activity.CockDetailActivity"/>
    </application>

</manifest>